/* Flexbox layout for the equipement-section */
.equipement-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between elements */
}

/* Flexbox layout for the radio group */
.radio-group {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the gap between radio buttons and labels */
}




.equipement-item {
    display: flex;
    flex-direction: row; /* Ensure items are laid out horizontally */
    align-items: center; /* Align items vertically */
    margin-top: 5px;
}

.equipement-item input[type="text"] {
   margin-left: 10px;
}

.equipement-item .radio-group {
    margin-left: 10px; 
    
}
.remove-equipement-btn {
    margin-left: 10px;
    margin-right: 10px;
}
label[for="extendeur-1"] {
    margin-right: 44px;
}

.add-equipement-btn {
   width: 24px;
   height: 24px;
}

.remove-equipement-btn {
    width: 24px;
    height: 24px;
}