#output-text {
    width: 45ch; /* Set width to 98 characters */
    height: 100px; /* Example height; adjust as needed */
    resize: none; /* Prevent resizing of the textarea */
    margin-top: 15px;
}

#output-button {
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 10px;
}
